<!DOCTYPE html>
<html>
<head>
	<div th:replace="~{partial/head::head}"></div>
	<title>マイリスト</title>
</head>
<body>
	<div th:replace="~{partial/navbar::navbar-auth}"></div>
	<div class="m-3">
		<div th:insert="~{partial/alert::alert}"></div>
	</div>
	
	<div class="container-fluid col-11">
		<div class="row my-5">
			<div class="col-2">
				<h2 th:text="${user.name}"></h2>
				<a th:href="@{/todolist/new}" class="btn btn-primary" th:text="新規登録"></a>
			</div>
			<div class="col-10">
				<h2>マイリスト</h2>
				<div class="my-4">
					<form th:action="@{/todolist}" method="post">
						<div class="row g-3 justify-content-center">
							<div class="col-5">
								<select name="column" class="form-select">
									<option th:if="${search}" th:each="column: ${toDoListColumn.values()}" th:value="${column.getValue()}" th:text="${column.getDisplayValue()}" th:selected="${column.getValue().equals(selectedColumn.getValue())}"></option>
									<option th:unless="${search}" th:each="column: ${toDoListColumn.values()}" th:value="${column.getValue()}" th:text="${column.getDisplayValue()}"></option>
								</select>
							</div>
							<div class="col-5">
								<select name="order" class="form-select">
									<option th:if="${search}" th:each="order: ${searchOrder.values()}" th:value="${order.getValue}" th:text="${order.getDisplayValue}" th:selected="${order.getValue().equals(selectedOrder.getValue())}"></option>
									<option th:unless="${search}" th:each="order: ${searchOrder.values()}" th:value="${order.getValue}" th:text="${order.getDisplayValue}"></option>
								</select>
							</div>
							<div class="col-auto">
								<input name="email" th:value="${#authentication.principal.username}" hidden>
								<button name="search" class="btn btn-primary">検索</button>
							</div>
						</div>
					</form>
				</div>
				<div>
					<table class="table" id="todolist">
						<thead>
							<tr>
								<th class="text-center" scope="col"></th>
								<th class="text-center" scope="col">タイトル</th>
								<th class="text-center" scope="col">進捗</th>
								<th class="text-center" scope="col">カテゴリー</th>
								<th class="text-center" scope="col">作成日</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="list, stat : ${toDoLists}">
								<th scope="row" th:text="${stat.count}"></th>
								<td th:id="id" th:text="${list.listId}" hidden></td>
								<td class="text-center" th:text="${list.title}"></td>
								<td class="text-center" th:text="${list.status.displayValue}"></td>
								<td class="text-center" th:text="${list.category.name}"></td>
								<td class="text-center" th:text="${#temporals.format(list.createdTime, 'yyyy-MM-dd HH:mm')}"></td>
							</tr>
						</tbody>
					</table>
					<div class="d-flex justify-content-end" th:if="${search}">
						<span th:text="|並び替え表示条件：『項目：${selectedColumn.getDisplayValue}　順番：${selectedOrder.getDisplayValue}』|"></span>
					</div>
				</div>
				<div class="text-end">
					<form th:action="@{/todolist}" method="post" th:object="${selectedIdForm}">
						<input type="text" th:field="*{selectedTodolistId}" hidden>
						<input type="submit" class="btn btn-secondary px-4" id="editTodolistBtn" name="edit" value="編集" disabled>
						<input type="button" class="btn btn-danger px-4" id="checkDeleteTodolistBtn" value="削除" data-confirm="本当に削除してよろしいですか?" data-bs-toggle="modal" data-bs-target="#deleteTodolistModal" disabled >
						<input type="submit" id="deleteTodolistBtn" name="delete" hidden>
					</form>
				</div>
				
				<div class="modal fade" id="deleteTodolistModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="exampleModalLabel">削除前確認</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<p>本当に削除してもよろしいですか？</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
								<button type="button" class="btn btn-danger" id="confirmDeleteTodolistBtn">削除する</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<th:block th:if="${hasAdminAuth}">
		<div>
			<a class="btn btn-info">管理者画面</a>
		</div>
	</th:block>
</body>
</html>