<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="deleteConfirmPopUp">
	<div class="modal fade" id="deleteTodolistModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">削除前確認</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>本当に削除してもよろしいですか？</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
					<button type="button" class="btn btn-danger" id="confirmDeleteTodolistBtn">削除する</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>