<!DOCTYPE html>
<html>
<head>
	<div th:replace="~{partial/head::head}"></div>
	<title>MyPage</title>
</head>
<body>
	<div th:replace="~{partial/navbar::navbar-auth}"></div>
	<div th:insert="~{partial/alert::alert}"></div>
	Mypage
	
	<div th:each="list, stat : ${toDoLists}">
	<p th:text="${list.title}"></p>
	</div>
	
	<table>
		<thead>
			<tr>
				<td></td>
				<td></td>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	
	<th:block th:if="${hasAdminAuth}">
		<div>
			<a class="btn btn-info">管理者画面</a>
		</div>
	</th:block>
</body>
</html>