<!DOCTYPE html>
<html>
<head>
	<div th:replace="~{partial/head::head}"></div>
	<title>MyPage</title>
</head>
<body>
	<div th:replace="~{partial/navbar::navbar-auth}"></div>
	<div th:insert="~{partial/alert::alert}"></div>

	<div clas="container-fluid">
		<div class="m-5">
			<h2 th:text="|${user.name}様のTO DO LIST|"></h2>
			<a th:href="@{/todolist}" class="btn btn-primary" th:text="新規登録"></a>
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="text-center" scope="col"></th>
						<th class="text-center" scope="col">タイトル</th>
						<th class="text-center" scope="col">進捗</th>
						<th class="text-center" scope="col">カテゴリー</th>
						<th class="text-center" scope="col">作成日</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="list, stat : ${user.toDoLists}">
						<th scope="row" th:text="${stat.count}"></th>
						<td class="text-center" th:text="${list.title}"></td>
						<td class="text-center" th:text="${list.status.displayValue}"></td>
						<td class="text-center" th:text="${list.category.name}"></td>
						<td class="text-center" th:text="${#temporals.format(list.createdTime, 'yyyy-MM-dd HH:mm')}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>	
	
	<th:block th:if="${hasAdminAuth}">
		<div>
			<a class="btn btn-info">管理者画面</a>
		</div>
	</th:block>
</body>
</html>